<div class="h-screen w-screen p-8 bg-gray-100">
  <div class="bg-white flex p-10 justify-center rounded-2xl shadow-xl">
    <div class="w-1/2 border-r-2 pr-8">
      <h2 class="text-xl font-bold">Caneca de café</h2>
      <p class="my-5 text-gray-500 text-sm">Escolha a cor da caneca de café</p>
      <h3 class="text-sm text-gray-400 tracking-widest">Selecione a cor</h3>
      <div class="flex mt-4 gap-4">
        <button class="h-6 w-6 rounded-full shadow-lg cursor-pointer hover:opacity-50 border-2 border-white" [ngClass]="{ 'selected': selectedColor === color }" [style.background-color]="color" *ngFor="let color of colors" (click)="selectedColor = color"></button>
      </div>
      <button class=" mt-8 w-full shadow-2xl p-4 text-gray-100 bg-black rounded-md">Adicionar ao carrinho</button>
    </div>
    <app-product-preview class="w-1/2 h-[300px]" [color]="selectedColor"></app-product-preview>
  </div>
</div>
